.app-container {
    display: flex;
    height: 100vh; /* Example height */
  }
  
  .sidebar {
    width: 250px; /* Adjust width as needed */
    border-right: 1px solid #ccc; /* Just for visual separation */
    padding: 10px;
  }
  
  .content {
    width: 50%; /* Adjust width as needed */
    padding: 10px;
  }
  
  app-sidebar, app-stats-sidebar {
    flex: 0 0 20%; /* Adjust width as needed */
  }
  
  app-images-grid {
    flex: 1;
  }